@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf"); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

header {
  width: 100%;
  height: 40px; }

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify; }

.logo {
  font-family: "Quicksand-Bold";
  line-height: 35px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #23231E;
  font-weight: bold;
  font-size: 22px; }

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 5; }

nav ul {
  line-height: 35px;
  list-style: none;
  background: #FFFFFF;
  overflow: hidden;
  color: #30333C;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

nav.black ul {
  background: #FFFFFF; }

nav ul li {
  font-family: "Montserrat-Medium";
  display: inline-block;
  padding: 16px 40px; }

nav ul li a {
  text-decoration: none;
  color: #30333C;
  font-size: 18px; }

.menu-icon {
  line-height: 35px;
  width: 100%;
  background: #FFFFFF;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #23231E;
  display: none; }

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px; }
  nav ul {
    max-height: 0px;
    background: #FFFFFF; }
  .showing {
    max-height: 34em; }
  nav ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center; }
  .menu-icon {
    display: block; } }

section.background {
  position: relative;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E8F1FF), to(#FAFCFF));
  background-image: -webkit-linear-gradient(#E8F1FF, #FAFCFF);
  background-image: -o-linear-gradient(#E8F1FF, #FAFCFF);
  background-image: linear-gradient(#E8F1FF, #FAFCFF);
  margin: -14px 0 0 0;
  width: 100%;
  height: 800px; }
  section.background .shadow {
    -webkit-box-shadow: 0px 0px 96px -57px #44477c; }
  section.background h1 {
    margin: 0 10;
    padding: 5% 0 3% 5%;
    font-size: 50px;
    color: #30333C;
    font-family: "Quicksand-bold"; }
  section.background .box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 65%;
    height: 650px;
    background: white;
    border-top-left-radius: 100px; }

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

.owl-buttons {
  display: none; }

.owl-carousel:hover .owl-buttons {
  display: block; }

.owl-item {
  text-align: center; }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 53px;
  padding-bottom: 53px;
  margin-top: -90px; }

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0; }

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px; }

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px; }

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.owl-carousel .owl-item .card-text {
  width: 250px;
  height: 190px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  .owl-carousel .owl-item .card-text h2 {
    margin: -3px auto;
    font-family: "Montserrat-SemiBold";
    text-align: left;
    font-size: 18px;
    padding-left: 22px;
    padding-top: 20px; }
  .owl-carousel .owl-item .card-text p {
    font-family: Montserrat-Medium;
    font-size: 15px;
    color: #70737C; }
  .owl-carousel .owl-item .card-text a img.arrow {
    float: right;
    background-color: white;
    padding-right: 15px;
    width: 30px; }

section.table .buttons ul {
  list-style: none; }
  section.table .buttons ul li {
    display: inline;
    background-color: #A7C0E8;
    padding: 17px 70px;
    margin: 0 20px 0 20px;
    font-family: "Quicksand-Bold";
    color: white;
    font-size: 16px; }
  section.table .buttons ul li::after {
    content: url("../img/arrow-pointing-to-down.svg"); }
