@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf"); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

header {
  width: 100%;
  height: 40px; }

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify; }

.logo {
  font-family: "Quicksand-Bold";
  line-height: 35px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #23231E;
  font-weight: bold;
  font-size: 22px; }

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 5; }

nav ul {
  line-height: 35px;
  list-style: none;
  background: #FFFFFF;
  overflow: hidden;
  color: #30333C;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

nav.black ul {
  background: #FFFFFF; }

nav ul li {
  font-family: "Montserrat-Medium";
  display: inline-block;
  padding: 16px 40px; }

nav ul li a {
  text-decoration: none;
  color: #30333C;
  font-size: 18px; }

.menu-icon {
  line-height: 35px;
  width: 100%;
  background: #FFFFFF;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #23231E;
  display: none; }

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px; }
  nav ul {
    max-height: 0px;
    background: #FFFFFF; }
  .showing {
    max-height: 34em; }
  nav ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center; }
  .menu-icon {
    display: block; } }

section.background {
  position: relative;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E8F1FF), to(#FAFCFF));
  background-image: -webkit-linear-gradient(#E8F1FF, #FAFCFF);
  background-image: -o-linear-gradient(#E8F1FF, #FAFCFF);
  background-image: linear-gradient(#E8F1FF, #FAFCFF);
  margin: -14px 0 0 0;
  width: 100%;
  height: 95vh;
  margin-bottom: 15%; }
  section.background .shadow {
    -webkit-box-shadow: 0px 0px 96px -57px #44477c; }
  section.background h1 {
    padding: 5% 0 3% 5%;
    font-size: 50px;
    color: #30333C;
    font-family: "Quicksand-bold";
    z-index: 2;
    position: relative; }
  section.background .box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 61%;
    height: 87vh;
    background: white;
    border-top-left-radius: 200px; }

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

.owl-buttons {
  display: none; }

.owl-carousel:hover .owl-buttons {
  display: block; }

.owl-item {
  text-align: center; }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 53px;
  padding-bottom: 53px;
  margin-top: -90px; }

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0; }

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px; }

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px; }

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.owl-carousel .owl-item img.front-image {
  -webkit-box-shadow: 0px 0px 50px 1px #bdbfdb;
  -moz-box-shadow: 0px 0px 50px 1px #bdbfdb;
  box-shadow: 0px 0px 50px 1px #bdbfdb;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100; }

.owl-carousel .owl-item .card-text {
  -webkit-box-shadow: 0px 0px 50px 1px #bdbfdb;
  -moz-box-shadow: 0px 0px 50px 1px #bdbfdb;
  box-shadow: 0px 0px 50px 1px #bdbfdb;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  width: 250px;
  height: 190px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  .owl-carousel .owl-item .card-text h2 {
    margin: -3px auto;
    font-family: "Montserrat-SemiBold";
    text-align: left;
    font-size: 18px;
    padding-left: 22px;
    padding-top: 20px; }
  .owl-carousel .owl-item .card-text p {
    font-family: Montserrat-Medium;
    font-size: 15px;
    color: #70737C; }
  .owl-carousel .owl-item .card-text a img.arrow {
    float: right;
    background-color: white;
    padding-right: 15px;
    width: 30px; }

section.table {
  margin-top: 5px;
  margin-bottom: 5px; }
  section.table .container {
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
    background: white;
    -webkit-box-shadow: 0px 0px 50px 1px #bdbfdb; }
    section.table .container .buttons {
      text-align: center;
      padding-top: 3%; }
      section.table .container .buttons button {
        position: relative;
        background-color: #A7C0E8;
        padding: 17px 70px;
        margin: 10px 20px 0;
        font-family: "Quicksand-Bold";
        color: white;
        border-radius: 40px;
        border: none;
        border-color: #F0F2F7; }
        section.table .container .buttons button span {
          position: relative;
          left: -20px;
          font-size: 19px; }
      section.table .container .buttons button::after {
        content: url("../img/arrow-pointing-to-down.svg");
        position: absolute;
        right: 25px;
        bottom: 18px; }
    section.table .container table {
      margin-top: 3%;
      margin: 0 auto;
      text-align: center;
      width: 100%; }
      section.table .container table thead tr th {
        padding-top: 5%;
        padding-bottom: 20px;
        font-size: 20px;
        font-family: "Montserrat-SemiBold"; }
      section.table .container table tbody tr {
        padding: 30px;
        font-family: "Montserrat-Medium"; }
        section.table .container table tbody tr td {
          padding-top: 20px;
          padding-bottom: 20px; }

tr.active {
  background-color: #F7FAFF; }

@media only screen and (max-width: 674px) {
  section.table .container table thead tr th {
    padding-top: 5%;
    padding-bottom: 9px;
    font-size: 10px;
    font-family: "Montserrat-SemiBold"; }
  section.table .container table tbody tr td {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px; }
  section.table .container .buttons button {
    display: inherit;
    padding: 11px 46px; }
    section.table .container .buttons button span {
      font-size: 15px; }
  button::after {
    bottom: 9px !important; } }

section.news h1 {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 50px;
  font-family: "Quicksand-bold"; }

section.news .container::after {
  -webkit-box-shadow: 0 0 50px 1px #bdbfdb;
  -moz-box-shadow: 0 0 50px 1px #bdbfdb;
  box-shadow: 0 0 50px 1px #bdbfdb;
  position: absolute; }

section.news .container {
  background-color: #FFFFFF; }
  section.news .container .image-gallery .row {
    margin-left: 50px;
    margin-right: 50px; }
  section.news .container .image-gallery .figure::before {
    content: "Lorem ipsum dolor sit \A amet";
    width: 270px;
    font-family: "Quicksand-Bold";
    padding-left: 15px;
    position: relative;
    color: white;
    font-size: 26px;
    top: 305px;
    margin-top: -75px;
    white-space: pre;
    text-align: left; }
  section.news .container .image-gallery .figure::after {
    display: block;
    position: relative;
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: ''; }
  section.news .container .image-gallery .figure {
    float: left;
    width: 380px;
    height: 380px;
    text-align: center;
    overflow: hidden;
    margin: 10px; }
    section.news .container .image-gallery .figure img {
      height: auto;
      display: block;
      width: auto;
      min-width: 380px;
      min-height: 380px;
      background-position: left; }
    section.news .container .image-gallery .figure p {
      width: 270px;
      font-family: "Quicksand-Bold", sans-serif;
      padding-left: 15px;
      color: white;
      font-size: 26px;
      margin-top: -75px; }

.clearfix::after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.clearfix::before {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

section.contacts .more {
  -webkit-box-shadow: 0 0 50px 1px #bdbfdb;
  -moz-box-shadow: 0 0 50px 1px #bdbfdb;
  box-shadow: 0 0 50px 1px #bdbfdb;
  margin-top: 50px;
  margin-bottom: 30px; }
  section.contacts .more .left {
    float: left;
    background-color: #E6F1FF;
    width: 50%;
    height: 770px; }
    section.contacts .more .left .left-left {
      float: left;
      margin-top: 70px;
      margin-bottom: 33px;
      margin-left: 74px; }
      section.contacts .more .left .left-left ul li {
        list-style-type: none; }
      section.contacts .more .left .left-left ul img.one {
        border-radius: 100px;
        background-image: url("../img/contacts/agne.png");
        width: 130px;
        height: 130px;
        margin-top: 35px; }
      section.contacts .more .left .left-left ul img.two {
        border-radius: 100px;
        background-image: url("../img/contacts/tomas.png");
        width: 130px;
        height: 130px;
        margin-top: 35px; }
      section.contacts .more .left .left-left ul img.three {
        border-radius: 100px;
        background-image: url("../img/contacts/kamile.png");
        background-position: center;
        width: 130px;
        height: 130px;
        margin-top: 35px; }
  section.contacts .more .right {
    float: right;
    width: 50%; }
    section.contacts .more .right .title-right h1 {
      font-family: "Quicksand-bold", sans-serif;
      font-size: 50px;
      color: #6F88B1;
      padding-left: 5%; }

.texts ul {
  margin-top: 140px;
  margin-left: 240px; }
  .texts ul li {
    list-style-type: none;
    margin-bottom: 120px; }
    .texts ul li h5 {
      color: #6F88B1;
      font-size: 18px;
      font-family: "Montserrat-Medium";
      margin: 0; }
    .texts ul li p {
      font-size: 14px;
      color: #70737C;
      font-family: "Montserrat-Medium";
      margin-bottom: -14px; }

form {
  margin: 0 auto;
  padding-left: 5%; }
  form .form-group input,
  form .form-group textarea {
    border: none;
    border-bottom: 1px solid #afafb9;
    width: 80%;
    margin-bottom: 30px;
    height: 25px;
    font-family: 'Montserrat-Medium';
    color: #70737C;
    font-size: 16px; }
  form button {
    background-color: #D9DBE2;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: -20px;
    margin-bottom: 20px; }
    form button img {
      width: 20px;
      height: 12px;
      margin-left: 6px;
      margin-top: 5px; }

@media screen and (max-width: 733px) {
  .left-left ul {
    padding-left: 0; }
  .texts ul {
    margin-left: 30% !important; } }

@media screen and (max-width: 920px) {
  section.contacts .more .left .left-left {
    margin-left: 0 !important; }
  .texts ul {
    margin-left: 39%; } }

@media screen and (max-width: 630px) {
  section.contacts .more .left {
    float: none;
    background-color: #E6F1FF;
    width: 100%;
    height: 90%; }
  .left-left ul {
    padding-left: 30%; }
  .texts ul {
    padding-top: 30%; }
  section.contacts .more .right {
    float: none;
    width: 100%; } }

footer {
  margin-top: 5%;
  background-color: #30333C;
  height: 100%;
  color: white; }
  footer .row:after {
    content: "";
    display: table;
    clear: both; }
  footer .col-lg-3 {
    float: left;
    width: 25%;
    margin-top: 30px; }
    footer .col-lg-3 ul {
      margin-left: 30px; }
      footer .col-lg-3 ul li {
        list-style-type: none;
        font-size: 18px;
        font-family: "Quicksand-bold", sans-serif;
        padding-bottom: 10px; }
        footer .col-lg-3 ul li i {
          margin-right: 20px;
          margin-top: 95px; }
      footer .col-lg-3 ul .icon {
        margin-left: 155px; }
      footer .col-lg-3 ul .footer-title {
        font-size: 22px; }

@media screen and (max-width: 1250px) {
  footer .col-lg-3 ul .icon {
    margin-left: 0; }
  .icon {
    margin-top: 150px; } }

@media screen and (max-width: 540px) {
  section.table {
    margin-top: 25%; }
  .icon {
    margin-top: 150px; } }
