section.news{

  h1{
    margin-left: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    font-size: 50px;
    font-family: "Quicksand-bold";
  }

  .container::after{
    -webkit-box-shadow: 0px 0px 50px 1px rgba(189,191,219,1);
    -moz-box-shadow: 0px 0px 50px 1px rgba(189,191,219,1);
    box-shadow: 0px 0px 50px 1px rgba(189,191,219,1);
    position: absolute;
  }
  .container{
    background-color: #FFFFFF;
    position: relative;


  .image-gallery{


    .row{
      margin-left: 50px;
      margin-right: 50px;
    }

    .figure::before{
      content: "Lorem ipsum dolor sit \A amet";
      width: 270px;
      font-family: "Quicksand-Bold";
      padding-left: 15px;
      position: relative;
      color: white;
      font-size: 26px;
      top: 305px;
      margin-top: -75px;
      white-space: pre;
      text-align: left;
    }
    .figure::after{
      display: block;
      position: relative;
      // background-image: linear-gradient(rgba(58, 54, 82, 1));
      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: '';
    }

    .figure{
    float: left;
    width:380px;
    height:380px;
    text-align:center;
    overflow:hidden;
    margin:10px;


      img{

        height:auto;
        display:block;
        width:auto;
        min-width: 380px;
        min-height: 380px;
        background-position: left;

      }

      p{
        width: 270px;
        font-family: "Quicksand-Bold", sans-serif;
        padding-left: 15px;
        color: white;
        font-size: 26px;
        margin-top: -75px;
      }
    }
    }
  }
}
.clearfix::after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clearfix::before {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
