section.table {
    margin-top: 5px;
    margin-bottom: 5px;
    .container{
      border-radius: 15px;
      width: 95%;
      margin:0 auto;
      background: white;
      // box-shadow: 0 0 10px #000
      -webkit-box-shadow: 0px 0px 50px 1px rgba(189,191,219,1);
      .buttons {
        text-align: center;
        padding-top:3%;

        button {
          position: relative;
          background-color: #A7C0E8;
          padding: 17px 70px;
          margin: 10px 20px 0;
          font-family: "Quicksand-Bold";
          color: white;
          border-radius: 40px;
          border: none;
          border-color: #F0F2F7;

          span {
            position: relative;
            left: -20px;
            font-size: 19px;
          }
        }

        button::after {
          content: url("../img/arrow-pointing-to-down.svg");
          position: absolute;
          right: 25px;
          bottom: 18px;
        }
      }
      table{
        margin-top: 3%;
        margin: 0 auto;
        text-align: center;
        // margin-left: 3%;
        // margin-right:4%;
        width: 100%;
        thead{
          tr{
            th{
                padding-top: 5%;
                padding-bottom: 20px;
                font-size: 20px;
                font-family:"Montserrat-SemiBold";

            }
          }
        }
        tbody{
          tr{
            padding: 30px;
            font-family: "Montserrat-Medium";
            td{
              padding-top:20px;
              padding-bottom:20px;
            }
          }
        }
      }
    }

}

tr.active{
  background-color: #F7FAFF;
}
@media only screen and (max-width: 674px) {
  section.table .container table thead tr th {
    padding-top: 5%;
    padding-bottom: 9px;
    font-size: 10px;
    font-family: "Montserrat-SemiBold";
}
  section.table .container table tbody tr td {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
}
  section.table .container .buttons button {
    display: inherit;
    padding: 11px 46px;
    span{
      font-size: 15px;
    }

}
button::after {
  bottom: 9px!important;
}
}
