
section.table{
  .buttons{
    ul{
      list-style: none;
      // text-align: center;
      li{
        display: inline;
        background-color: #A7C0E8;
        padding: 17px 70px;
        margin: 0 20px 0 20px;
        font-family: "Quicksand-Bold";
        color: white;
        font-size: 16px;

      }
      li::after {
        content: url('../img/arrow-pointing-to-down.svg');


      }
    }
  }
}
